*{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	box-sizing: border-box;
}

header{
	background-color: #ffffff;
}

a, a:visited{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

	a:hover{
		color: #e03d4e;
	}

h3{
	font-size: 18px;
}

body{
	color: #ffffff;
	background-color: #2e3192;
}

.nav{
	position: fixed;
	width: 100%;
	background-color: #000000;
	border-bottom: 3px solid #e03d4e;

}

.nav ul{
	padding-top: 25px;
	list-style-type: none;
	text-align: center;
}

.nav ul li{
	font-size: 12px;
	font-family: Helvetica;
	line-height: 25px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top: 5px;
	display: inline-block;
	text-transform: uppercase;
}

.logo{
	text-align: center;
	padding-top: 20px;
}

.button{
  width: 150px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #2e3192;
  border-radius: 50px;
  background: #2e3192;
  transition: all 200ms ease-in-out;
}

	.button:hover{
		background:#ffffff;
		border: 2px solid #ffffff;
		box-shadow: 0 5px 20px #e03d4e;
	}

.lower{
	padding-top: 15%;
}

.paragraph{
	font-size: 14px;
	padding-top: 10%;
	padding-bottom: 10%;
	margin-left: 20%;
	margin-right: 20%;
	float: left;
}

.paragraph p{
	width: 30%;
	padding-top: 5%;
}

.feature{
	margin:auto;
	float:right;	
}

.mag{
	overflow: hidden;
	-webkit-transition: all 0.4s ease;
  	-moz-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
  	transition: all 0.4s ease;
}

.bot{
	padding-top: 50px;
	display: block;
	text-align: center;
	width: 100%;
}

.desc{
	margin: auto;
}

.desc ul{
	list-style-type: none;
	text-align: center;
	width: 33%;
	display: block;
	float: left;
	padding-bottom: 25%;
}

.images{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.images h3{
	padding-bottom: 25px;
}

.title{
	padding: 25px;
	font-weight: bold;
}

.bottom{
	width: 100%;
	text-align: center;
	background: #000000;
	padding: 50px;
	border-top: 4px solid #2e3192;
	float: left;
}